* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header {
  background-image: url(./../images/loading_bg_eng.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header-content {
  margin: 0 auto;
  height: 100%;
  max-width: 1280px;
  position: relative;
}

.header-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: transparent;
  border: none;
  background-image: url(./../images/appstore_btn.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

@media (max-width: 890px) {
  .header {
    background-image: url(./../images/privacy_policy.jpg);
  }
  .header-button {
    width: 280px;
    height: 90px;
  }
}

.main {
  background-color: #fafafa;
}

.main-content {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
}

.footer {
  background-color: #242323;
}

.footer-content {
  margin: 0 auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 20px 0;
}

.footer-link {
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.footer-link a {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  background-color: #ffffff;
}

.footer-link:hover a {
  color: #000000;
}

.contact-form {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #414141;
  width: 100%;
}

.contact-form-fields {
  width: 100%;
}

.contact-form-field {
  margin-bottom: 20px;
}

.contact-form-field:last-child {
  margin-bottom: 0;
}

.contact-form-input {
  width: 50%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 5px solid #858585;
}

.contact-form-input:focus {
  border: none;
  outline: none;
  border-bottom: 5px solid #5d5d5d;
}

.contact-form-textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 5px solid #858585;
}

.contact-form-textarea:focus {
  border: none;
  outline: none;
  border-bottom: 5px solid #5d5d5d;
}

.contact-form-button {
  display: inline-block;
  margin: 20px auto 0 auto;
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  background-color: #414141;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.contact-form-button:hover {
  background-color: #ad96c7;
}

.head {
  background-color: #000000;
  height: 10vh;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
}

b {
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
}

p {
  text-align: justify;
  line-height: 30px;
}

.home {
  background-color: #000000;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home a {
  color: #ffffff;
}

.home:hover {
  background-color: #ffffff;
}

.home:hover a {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */